html,
body {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.sectionHeader {
  text-align: center;
  font-size: 3vw;
  padding: 10px;
}

img {
  max-width: 100%;
}

a {
  color: #4054a5;
  scroll-behavior: smooth;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*------------------------
  Common Elements
--------------------------*/
/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Site Buttons */
.siteButton {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  min-width: 213px;
  min-height: 20px;
  text-align: center;
  padding: 20px 10px 15px;
  position: relative;
  background-color: #fff;
  margin: auto;
  border: 1px solid #000000;
  color: #40424a;
  font-weight: 700;
  box-shadow: 2px 2px black;
}

.siteButton:hover {
  color: #40424a;
  box-shadow: 1px 1px black inset;
}

/* Section Borders */
.row {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.sep6 {
  transform: translateY(-100%) translateY(2px) scale(1, 1);
  transform-origin: top;
}

/*---------------------
	Nav section
-----------------------*/
nav {
  margin: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 2;
  width: 100%;
  position: fixed;
}

nav ul {
  list-style-type: none;
}

.bookmarks li {
  float: left;
}

.socialLinks li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 25px;
}

nav li a:hover {
  background-color: #111;
  color: white;
}

/*---------------------
	Hero section
-----------------------*/
#heroSection {
  background-image: url("../img/bg.jpeg");
  display: flex;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.heroText {
  width: 40%;
  margin: 30% 10%;
}

.heroText h1 {
  font-family: monospace;
  font-size: 7vw;
  overflow: hidden;
  border-right: 0.15em solid #333;
  animation: typing 4s steps(18, end), blink-caret 0.6s step-end 7,
    hide 1s linear 4s 1 forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

@keyframes hide {
  to {
    border-color: transparent;
  }
}

/*---------------------
	About section
-----------------------*/
#aboutSection {
  background-color: #333;
  color: white;
  padding-bottom: 10vw;
}

.basicFlexContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutImage {
  float: left;
  margin-left: 30px;
  width: 30%;
}

.aboutImage img {
  border-radius: 50%;
  box-shadow: 5px 5px 9px 0px black;
}

.aboutText {
  float: right;
  width: 75%;
  text-align: center;
  padding: 30px;
}

.aboutText li {
  list-style-type: none;
}

.aboutText ul {
  text-align: left;
}

/*---------------------
	Portfolio section
-----------------------*/
#portfolioSection {
  padding-bottom: 12vw;
  text-align: center;
}

.portfolioItem {
  flex-basis: auto;
  width: 23%;
  height: auto;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  position: relative;
  z-index: 2;
}

.projectButton {
  margin: 30px 0 15px 0;
}

/*---------------------
     Skills section
-----------------------*/
#skillsSection {
  background-color: #333;
  color: white;
  padding-bottom: 12vw;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  gap: 20px;
}

.skillLogo {
  flex-basis: auto;
  height: 10em;
  width: 10em;
  margin-bottom: 20px;
}

.skillLogo p {
  font-size: 18px;
}

.skillLogo img {
  height: 75%;
}

/*---------------------
Education / Work section
----------------------*/
#educationSection {
  padding-bottom: 17vw;
}

#workSection {
  background-color: #333;
  color: white;
  padding-bottom: 10vw;
}

.resumeList {
  list-style: none;
  padding-left: 110px;
  border-left: 2px solid #40424a;
}

.resumeList li {
  position: relative;
  margin-bottom: 30px;
}

.resumeList li:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #40424a;
  border-radius: 50px;
  background: #cacaca;
  top: 30px;
  left: -118px;
}

.diploma,
.workImage {
  float: right;
  width: 30%;
  height: auto;
  object-fit: contain;
}

.aboutImageMobile,
.diplomaMobile,
.workImageMobile {
  display: none;
  width: 80%;
  margin: 0 auto 30px auto;
  box-shadow: 5px 5px 9px 0px #333;
}


/*---------------------
	Footer section
-----------------------*/
footer {
  background-color: white;
  padding: 10px 0;
  text-align: center;
  color: black;
}

/*---------------------
   Responsive Design
-----------------------*/
@media only screen and (max-width: 1000px) {
  .skillLogo {
    height: 5em;
    width: 5em;
  }
  .resumeList {
    width: 90%;
    margin-left: 5%;
  }

  .diploma,
  .workImage {
    display: none;
  }

  .diplomaMobile,
  .workImageMobile {
    display: block;
  }

  .portfolioItem {
    width: 40%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  nav li a {
    padding: 15px 10px;
    font-size: 16px;
  }

  .heroText {
    margin: 50% 10%;
  }

  .aboutImage {
    display: none;
  }

  .aboutImageMobile {
    display: block;
  }

  .aboutText {
    width: 90%;
    float: none;
    margin: auto;
    padding: 30px;
  }

  .sectionHeader {
    font-size: 24px;
  }

  .skillLogo p {
    font-size: 16px;
  }

  .resumeList {
    padding-left: 0;
    border-left: none;
  }
}
